<!DOCTYPE HTML>
<html ng-app="chatroom">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-controller="mainCtrl">
    <header>
      
    </header>

    <div class="icon">
        <img src="http://ios.devmountain.com/public/icon.png"/>
    </div>

    <div class="main-container">
      <h1> DevMountain Chat Room </h1>
      <h4> A simple parse powered not-so-private chat </h4>
      <h6> BY GIAO NGUYEN </h6>
      <form ng-submit="postMessage(message)">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="Enter New Message">
      </form>

      <form><input type="text" class="form-control text-box" ng-model="searchTerm.message" placeholder="Seach Message">
      </form>


      <div>
        <p class="title">Messages from Suckassss <span><select id="sort" ng-model="sortDirection" placeholder="SORT">
          <option value="-createdAt">Newest</option>
          <option value="+createdAt">Oldest</option>
        </select></span></p>
      </div>

      <div class="messages-container">
        <p ng-repeat="message in messages | filter: searchTerm | orderBy: sortDirection">
          {{message.message}} <span class="timeStamp"> {{message.createdAt | date: "short"}} </span> </p>
      </div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/messageService.js"></script>
  </body>
</html>
